
body {
      margin: 0;
      height: 100%;
      /* background: #fff; */
      color: #000;
      font-family: Helvetica, sans-serif;
      
  }

/* .corner_rectangle_background {   put rounded edges around the part above the menu
  background-color:  blueviolet;
}

.corner_rectangle{
  background: red;
  border-radius: 25px;
  max-width: 800px;
  width: 90%;
  padding: 10px 3px;

} */



h1{
  margin: 42px;

}

p{
  margin: 42px;
  margin-bottom: 21px;
  
}
ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0;
  /* margin-top: 30px; */
  padding: 2px;
  margin-left: 42px;
  /* margin: 0; and padding: 0; to remove browser default settings */

}

/*  float List version of the menu*/
li {
  float: left; 
  /* puts the  blocks elemest ie li in a horizontal line*/
 
}

li a {
  display: block; 
  /* Allows us to specify padding */
  padding: 8px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px 1px;
  text-decoration: none;
  color: #000;
  
  /* adds space between an outline and the edge/border of an element */
}

#lines_on_menu{
  width: 100%; /* full window width */
  height: 42px;

  background-color: #000;
}